In [87]:
import numpy as np
import pandas as pd

In [92]:
dataFrame = pd.read_csv("idaSearch_3_19_2018.csv")
dataFrame.head()

   Subject ID Sex DX Group   Age                         Description Structure
0  002_S_0413   F   Normal  76.4          MPR-R; ; N3 <- MPRAGE_REPE     Brain
1  002_S_0413   F   Normal  76.4            MPR; ; N3 <- MPRAGE SENS     Brain
2  002_S_0413   F   Normal  76.4  MPR; ; N3; Scaled_2 <- MPRAGE SENS     Brain
3  002_S_0413   F   Normal  76.4    MPR; ; N3; Scaled <- MPRAGE SENS     Brain
4  002_S_0559   M   Normal  79.5          MPR-R; ; N3 <- MPRAGE SENS     Brain

In [93]:
dataFrame = dataFrame.drop(['Description','Structure'],axis=1)
dataFrame.head()

   Subject ID Sex DX Group   Age
0  002_S_0413   F   Normal  76.4
1  002_S_0413   F   Normal  76.4
2  002_S_0413   F   Normal  76.4
3  002_S_0413   F   Normal  76.4
4  002_S_0559   M   Normal  79.5

In [94]:
import os
import fnmatch
images = []
imageNames = []
for path,dirs,files in os.walk('.'):
    for f in fnmatch.filter(files,'*.png'):
        fullname = os.path.abspath(os.path.join(path,f))
        splits = f.split("_")
        subject = splits[1] + "_S_" + splits[3]
        imageNames.append(f)
        images.append(subject)
        index = [str(i) for i in range(1, len(images)+1)]
        imagesDF = pd.DataFrame(images, index=index)
        
        
imagesDF #subject
imagesDF["Image Name"] = imageNames
imagesDF.columns = ["Subject ID", "Image Name"]
imagesDF.head()

   Subject ID                                         Image Name
1  052_S_1251  ADNI_052_S_1251_MR_MPR-R__GradWarp_Br_20070727...
2  007_S_1304  ADNI_007_S_1304_MR_MPR__GradWarp_Br_2007071311...
3  021_S_0753  ADNI_021_S_0753_MR_MPR-R__GradWarp__B1_Correct...
4  023_S_0031  ADNI_023_S_0031_MR_MPR__GradWarp__B1_Correctio...
5  002_S_1018  ADNI_002_S_1018_MR_MPR____N3_Br_20070217032030...

In [97]:

dataFrame = dataFrame.drop_duplicates()
dataFrame

merged_data = pd.merge(left=imagesDF, right=dataFrame, how='left', on="Subject ID")
merged_data.head()
merged_data.to_csv('finalDataFrame.csv')